@import './utils/variables';

@import './base';

@import './utils/utils';
@import './components/buttons';
@import './components/links';
@import './components/input';
@import './layouts/header';
@import './layouts/advantages-section';
@import './components/carousel';
@import './layouts/chef-section';
@import './layouts/format-section';
@import './layouts/traditions-section';
@import './layouts/modal';
@import './layouts/mobile-menu';
@import './layouts/contact';
@import './layouts/hero-section';
@import './layouts/footer';
@import './layouts/forms';
@import './utils/mixins';

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    margin: 48px 0;
    @media screen and (max-width: $bp-table) {
    margin: 20px 0;        }
}
.section-title {
    font-size: 63px;
    font-weight: 900;
    line-height: 1.3;
    @media screen and (max-width: $bp-desktop) {
            font-size: 42px;
        }

    @media screen and (max-width: $bp-table) {
        font-size: 32px;
    }
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark)
}
.circle {
   @include circle(100px,100px, white)
}
.circle-big {
    width: 100px;
    height: 100px;
    background-color: #fff;
}
