.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;

    @media screen and (max-width: $bp-mobile) {
                padding-top: 16px;
        }

    &__container {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    &__nav {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
        
    &__link {
            display: flex;
            /* gap: 64px; */
            flex-grow: 1;
            justify-content: center;
            gap: 40px;
            @media screen and (max-width: $bp-desktop) {
                    display: none;
                }
        }
    &__link.active {
            display: flex;
            flex-direction: column;
            position: relative;
            left: -106px;
            top:50px;
            color: var(--color-primary-dark);
            z-index: 200;
            gap: 16px;
        }
    &__link.active li .link {
            color: var(--color-primary-dark);
      }

    &__button {
        @media screen and (max-width: $bp-desktop) {
                display: none;
            }
    }
    &__burger {
        display: none;
        background-color: transparent;
        border: 0;
        width: 24px;
        height: 24px;
        padding: 0;
        fill: var(--color-primary-light);
        
        @media screen and (max-width: $bp-desktop) {
                display: block;
            }
    }
}




