.hero-section {
    padding: 272px 0;
    background-color: burlywood;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
        @media screen and (max-width: $bp-table) {
            padding: 122px 0;
        }

                @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                        background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(../images/image1@2x.jpg);
                }


        &__title {
            color: var(--color-primary-light);
            text-align: center;
            font-weight: 900;
            font-size: 128px;

            @media screen and (max-width: $bp-table) {
                font-size: 63px;
                line-height: 1;
                margin-bottom: 48px;
            }
        }

        &__title .accent {
            color: var(--color-brand-normal);
        }

           &__modsa {
            display:none;
    
               @media screen and (max-width: 1200px) {
                   display:block;
                    margin: 0 auto;
               }
           }

}

