.traditions-section {
    margin-top: 96px;

    @media screen and (max-width: $bp-table) {
    margin-top: 20px;
    }

    &__container {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: flex-start;
        }

    &__content {
        max-width: 720px;
    }

    &__text .brand {
        color: var(--color-brand-normal);
        font-weight: 600;
    }

    &__text .uppercase {
        text-transform: uppercase;
        /* font-weight: 600; */
    }

    &__title {
        margin-bottom: 42px;

    @media screen and (max-width: $bp-mobile) {
        }
    }

    &__text:nth-child(2) {
        margin-bottom: 42px;
    }


    &__text {
            &--limited {
                max-width: 335px;
            }
        }

       &__imag {
        
                border-radius: 400px 400px 0px 0px;
                display: block;
                @media screen and (max-width: $bp-table) {
                    display: none;
                }
            
       }
}






